header {
    padding-block: 32px;
    font: var(--text-md);
}

#profile {
    gap: 32px;
    display: flex;
}

header .container {
    display: flex;
    justify-content: space-between; */
    align-items: flex-start;
}

#profile > div {
    max-width: 384px;
}

#profile h1 {
    display: flex;
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 0;
    padding: 0;
    flex-direction: column-reverse; 
    unicode-bidi: embed;
    margin-block 20px;
}

p {
    display: flex;
    flex-direction: row-reverse;
    align-items: normal;

}

#profile img {
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 50%;

}

#info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* #description, h1 {
    display: flex;
    flex-direction: row-reverse;
}

#description, p {
    display: flex;
    flex-direction: row-reverse;
} */

.id {
    font-size: var(--text-lg);
    height: 42px;
}